div.backend-settings {
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
}
div.backend-check-error {
    color: red;
    font-weight: bold;
    padding: 10px;
}

div.backend-settings input[type="text"] {
    width: 30em;
}

div.backend-settings div.box-line {
    padding-top: 10px;
}
div.backend-settings div.box-line input {
    margin-right: 10px;
}
div.yagna-server-entry {
    padding: 1em;
}
div.yagna-server-entry-button-list {
    padding-top: 0.7em;
}
div.yagna-server-entry-button-list button {
    margin-right: 1em;
}

table.yagna-node-table {
    width: 100%;
    border-collapse: collapse;
}

table.yagna-node-table th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table.yagna-node-table td {
    border: 1px solid #ddd;
    padding: 8px;
}
