div.pay-agreement-box {
    border-left: 2px solid blue;
    margin-bottom: 50px;
}

div.pay-agreement-box-body {
    position: relative;
    width: 100%;
}
div.pay-agreement-id {
    padding: 10px;
    font-weight: bold;
}
table.pay-agreement-amount-table {
    border-collapse: collapse;
    margin-left: 10px;
}
table.pay-agreement-amount-table th {
    text-align: left;
    padding: 5px;
    border: 1px solid #e0e0e0;
}
table.pay-agreement-amount-table td {
    min-width: 10em;
    padding: 5px;
    border: 1px solid #e0e0e0;
}
div.activity-list-body {
    border-left: darkblue 2px solid;
}

div.activity-list-title {
    font-weight: bold;
    padding: 10px;
}
