div.pay-activity-box {
    padding: 5px;
    border-top: 2px solid #e0e0e0;
}

div.pay-activity-box-body {
    position: relative;
    width: 100%;
}

div.debit-note-list {
    padding: 1em;
}
div.pay-activity-id {
    padding: 10px;
}
div.pay-activity-entry {
    padding: 10px 15px;
}
div.debit-note-list-title {
    font-weight: bold;
    padding: 10px;
}
div.debit-note-list-entry {
    padding: 5px 10px;
}
table.pay-activity-amount-table {
    border-collapse: collapse;
    margin-left: 10px;
}
table.pay-activity-amount-table th {
    text-align: left;
    padding: 5px;
    border: 1px solid #e0e0e0;
}
table.pay-activity-amount-table td {
    min-width: 10em;
    padding: 5px;
    border: 1px solid #e0e0e0;
}
table.debit-note-list-table {
    border-collapse: collapse;
    margin-left: 5px;
}
table.debit-note-list-table th {
    text-align: left;
    padding: 5px;
    border: 1px solid #e0e0e0;
}
table.debit-note-list-table td {
    min-width: 10em;
    padding: 5px;
    border: 1px solid #e0e0e0;
}
