div.pay-activity-box {
    border: 1px solid blue;
    padding: 5px;
}

div.pay-activity-box-body {
    position: relative;
    height: 8.5em;
    width: 100%;
}

div.pay-activity-box-body div.pay-activity-id {
    position: absolute;
    top: 0em;
}
div.pay-activity-box-body div.pay-activity-spender {
    position: absolute;
    left: 12em;
    top: 0em;
}
div.pay-activity-box-body div.pay-activity-spender-descr {
    position: absolute;
    left: 12em;
    top: 1.2em;
}
div.pay-activity-box-body div.pay-activity-spender-descr span {
    font-size: 0.9em;
}

div.pay-activity-box-body div.pay-activity-owner {
    position: absolute;
    left: 12em;
    top: 3em;
}
div.pay-activity-box-body div.pay-activity-owner-descr {
    position: absolute;
    left: 12em;
    top: 4.2em;
}
div.pay-activity-box-body div.pay-activity-owner-descr span {
    font-size: 0.9em;
}

div.pay-activity-box-body div.pay-activity-token-addr {
    position: absolute;
    left: 12em;
    top: 6em;
}

div.pay-activity-box-body div.pay-activity-pay-activity {
    position: absolute;
    left: 12em;
    top: 7.2em;
}

div.pay-activity-box-body div.pay-activity-pay-activity span {
    font-size: 0.9em;
}

div.pay-activity-box-body div.pay-activity-chain-id {
    position: absolute;
    top: 1.5em;
}

div.pay-activity-box-body div.pay-activity-confirm-date {
    position: absolute;
    left: 0em;
    top: 4em;
    font-size: 0.9em;
}

div.pay-activity-box-body div.pay-activity-tx-id {
    position: absolute;
    top: 7em;
}
