div.batch-order-box {
    padding: 5px;
    border: 2px solid #00FF00;
    margin-bottom: 2em;
}

div.batch-order-box-body {
    position: relative;
    width: 100%;
}

div.debit-note-list {
    padding: 1em;
}
div.pay-cycle-list-title {
    padding: 10px;
    font-weight: bold;
}
div.pay-cycle-id {
    padding: 10px;
}
div.pay-cycle-entry {
    padding: 10px 15px;
}
div.pay-cycle-list-table {
    font-weight: bold;
    padding: 10px;
}
div.debit-note-list-entry {
    padding: 5px 10px;
}
table.pay-cycle-list-table {
    border-collapse: collapse;
    margin-left: 10px;
}
table.pay-cycle-list-table th {
    text-align: left;
    padding: 5px;
    border: 1px solid #e0e0e0;
}
table.pay-cycle-list-table td {
    min-width: 10em;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

