div.batch-order-box {
    padding: 5px;
    border: 2px solid #00ff00;
    margin-bottom: 2em;
}

div.batch-order-box-body {
    position: relative;
    width: 100%;
}

div.debit-note-list {
    padding: 1em;
}
div.pay-cycle-list-title {
    padding: 10px;
    font-weight: bold;
}
div.pay-cycle-id {
    padding: 10px;
}
div.pay-cycle-entry {
    padding: 10px 15px;
}
div.pay-cycle-list-table {
    font-weight: bold;
    padding: 10px;
}
div.debit-note-list-entry {
    padding: 5px 10px;
}
div.pay-cycle-button-row {
    padding: 10px;
}
div.pay-cycle-button-row button {
    margin-right: 10px;
}
div.pay-cycle-edit-hidden {
    display: none;
}

div.pay-cycle-edit {
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-top: 10px;
}
div.pay-cycle-edit-entry {
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
div.pay-cycle-edit-entry div {
}
div.pay-cycle-edit-entry div:nth-child(1) {
    min-width: 2em;
}
div.pay-cycle-edit-entry div:nth-child(2) {
    min-width: 12em;
}
div.pay-cycle-edit-entry div:nth-child(3) {
    min-width: 10em;
}
div.pay-cycle-edit-entry div:nth-child(4) {
    min-width: 8em;
}
div.pay-cycle-edit-entry div {
    margin-right: 1em;
}

table.pay-cycle-list-table {
    border-collapse: collapse;
    margin-left: 10px;
}
table.pay-cycle-list-table th {
    text-align: left;
    padding: 5px;
    border: 1px solid #e0e0e0;
}
table.pay-cycle-list-table td {
    min-width: 10em;
    padding: 5px;
    border: 1px solid #e0e0e0;
}
